* {
  box-sizing: border-box;
}

.wrapper{
  display: flex;
  width: 100vw;
  height: 100vh;
}

@mixin put-center(
  $putPosition: absolute,
  $putTop: 0,
  $putBottom: 0,
  $putRight: 0,
  $putLeft: 0,
  $putMargin: auto,
) {
  position: $putPosition;
  top: $putTop;
  bottom: $putBottom;
  right: $putRight;
  left: $putLeft;
  margin: $putMargin;
}

@mixin wide_high(
  $Width: 0,
  $Hight: 0,
) {
  width: $Width;
  height: $Hight;
}

@mixin size_color(
  $fSize: 0,
  $fColor: #ffffff,
){
  font-size: $fSize;
  color: $fColor;
}

@mixin color($fColor: #ffffff){
  color: $fColor;
}


