
.side-bar {
  background-color:#2f3e51;
  
  width: 300px;
  font-weight: bold;
  &__username{
    background-color: #253141;
    @include wide_high(300px,100px);
    position: relative;
    
    .top-items{
      @include size_color(16px);
      @include put-center();
      @include wide_high(260px,20px);
      display: flex;
      justify-content: space-between;
      &__icons{
        display: flex;
        &__edit{
          @include color();
          margin-right: 5px;
        }
        &__cog{
          @include color();
        }
      }
    }
  }
  &__grouplist{
    
    @include wide_high(300px,calc(100%-100px));
    padding: 0 20px;
    .group{
      .grouplink{
        text-decoration: none;
      }
      .group-name{
        @include size_color(15px);
        padding-top: 20px;
        
      }
      .group-message{
        @include size_color(11px);
        padding-top: 5px;
        padding-bottom: 40px;
      }
    }
  } 
}
