
.side-bar {
  background-color: #253141;
  width: 300px;
  color: #ffffff;
  font-weight: bold;
  &__username{
    height: 100px;
    position: relative;
    
    .top-items{
      @include put-center();
      width: 260px;
      height: 20px;
      display: flex;
      justify-content: space-between;
      &__name{
        font-size: 16px;
      }
      &__icons{
        display: flex;
        &__edit{
          color: #ffffff;
          margin-right: 5px;
        }
        &__cog{
          color: #ffffff;
        }
      }
    }
  }
  &__grouplist{
    background-color: #2f3e51;
    height: calc(100% - 100px);
    padding: 0 20px;
    .group-name{
      font-size: 15px;
      padding-top: 20px;
    }
    .group-message{
      font-size: 11px;
      padding-top: 5px;
      padding-bottom: 40px;
    }
  } 
}
